.lobby {
  width: 100%;
  display: flex;
}

.Lobby .paper {
  margin-top: 0px;
}

.sidebar {
  right: 0;
  background-color: rgba(255, 71, 77, 0.61);
  width: 20%;
}

.village-container {
  width: 80%;
}

.village-container h1 {
  color: #EFEFEF;
  text-align: center;
}

.sidebar h1 {
  display: block;
  background-color: #9aacb6;
}
