.last-message {
	position: relative;
	background: #9AACB6;
	border-radius: .4em;
  margin: 50px;
  padding: 15px;
  max-width: 300px;
}

.last-message:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #9AACB6;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}
