.medal{
  height: 1rem;
}

.nameblock span {
  background-color: yellow;
  position:
}

.medal-sidebar{
  height: 30px;
}

.sidebar-name:hover, .sidebar-name:hover p {
  color: #1f243d;
  background-color: #d8d8d8;
  display: block;
  position: relative;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  border-radius: 2px 2px 0 0;
  z-index:1000;
}

.nameblock {
  color: #EFEFEF;
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
}

.nameblock p {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-size: 1.25rem;
}

.nameblock:hover + .pop-over, .pop-over:hover {
  display: block;
  position: relative;
  background-color: #d8d8d8;
  border-radius: 0 0 2px 2px;
  margin: 0 auto;
  z-index:1000;
}

.pop-over {
  display: none;
  text-align: center;
}
