.mayorGrey {
  height: 1.5rem;
}

.mayorColor {
  height: 1.5rem;
}

/* .grayscale {  }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); } */
