@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Lato");

header{
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #180627;
  /* background-color: #ededed */
}

p, a, button {
  font-size: 1.25rem;
}

h1 {
  font-size: 2rem;
}
